.me-2 {
    margin-right: 2rem;
    text-align: center;
    cursor: pointer;
    font-size: 12px !important;
}
.icon-font {
   font-size: 22px; // not used
}
.me-2:hover{
    background: rgb(233 233 233 / 45%);
    cursor: pointer;
}

.nav-link-cutome {
    display: flex !important;
    gap: 0.5rem;
    align-items: center;
    font-size: 1.5rem;
}

.nav-link-cutome>img {
    width: 2.5rem;
    height: 2.5rem;
    object-fit: contain;
}
.notification-count {
	margin-top: 0.1rem;
    background-color: red;
    color: white;
    border-radius: 50%;
    padding: 0.2em 0.5em;
    font-size: 0.7rem;
    position: absolute;
    top: 0.2rem;
    right: 14rem;
}