<nav class="navbar navbar-expand-lg navbar-light bg-light navbar2" style="height:60px">
    <a class="navbar-brand" href="/">
      <img src="../../assets/images/herotransparentLogo.png" width="300" height="250" alt="HERO Logo" style="height: auto;">
    </a>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent" style="margin-left: calc(100% - 820px);">
  
  
  
      <ul class="nav navbar-nav navbar-right">
  
  
        <li class="me-2">
          <i class="fa fa-user-secret icon-font" aria-hidden="true"></i> <br>
          Admin
          <!-- <i class="fa fa-user" style="color: black;"></i><br>Admin -->
          <!-- <a href="/" class="nav-link-cutome">
            <img src="/../../assets/resources/icon-admin.svg" alt=""><br> Admin
          </a> -->
        </li>
  
  
        <li class="me-2">
          <i class="fa fa-home icon-font" aria-hidden="true"></i><br>Home
          <!-- <a href="/" class="nav-link-cutome">
            <img src="/../../assets/resources/icon-home.svg" alt=""><br> Home
          </a> -->
        </li>
  
        <li class="me-2"><i class="fa fa-briefcase icon-font" aria-hidden="true"></i><br>My Briefcase
          <!-- <a href="/mybriefcase" class="nav-link-cutome">
            <img src="/../../assets/resources/icon-bag.svg" alt=""><br> 
          </a> -->
        </li>
  
        <li class="me-2"><i class="fa fa-list icon-font" aria-hidden="true"></i><br>
          To-Do List <span class="notification-count">99</span> 
          <!-- <a href="/mytodolist" class="nav-link-cutome">
            <img src="/../../assets/resources/icon-list.svg" alt=""> <br> -->
  
            <!-- -->
  
          <!-- </a> -->
        </li>

        <li class="me-2"><i class="fa fa-info-circle icon-font" aria-hidden="true"></i><br>
            About
            <!-- <a href="/mytodolist" class="nav-link-cutome">
              <img src="/../../assets/resources/icon-list.svg" alt=""> <br> -->
    
              <!-- <span class="notification-count"><%= taskCount %></span> -->
    
            <!-- </a> -->
          </li>
  
        <li class="me-2"><i class="fa fa-user-circle icon-font" aria-hidden="true"></i><br>
          Pavi
          <!-- <a href="/" class="nav-link-cutome">
            <img src="/../../assets/resources/icon-user-circle.svg" alt=""> <br>
          </a> -->
        </li>
  
        <li class="me-2"><i class="fa fa-sign-out icon-font" aria-hidden="true"></i><br>
          Logout
          <!-- <a href="/" class="nav-link-cutome">
            <img src="/../../assets/resources/icon-user-circle.svg" alt=""> <br>
          </a> -->
        </li>
  
        <!-- <button class="btn btn-outline-success my-2 my-sm-0 navbar-button"><br>
          
        </button> -->
  
  
      </ul>
    </div>
</nav>